.investments-gird {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}

.investments-gird-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.investments-gird-row .investment-link {
  width: 33%;
}


@media screen and (max-width: 980px) {
  .investments-gird-row.investment-link {
    width: 100%;
  }
}
.investment-link {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  align-items: center;
}

.investment-logo {
  max-width: 250px;
  height: auto;
}

  .email-link {
    position: relative;
}
