.flex {
  display: flex;
  height: 70vh;
}

.jusitify-center {
  jusitify-content: center;
}

.align-center {
  align-items: center;
}

body {
  padding: 40px;
  height: 75vh;
  font-family: "Montserrat", sans-serif;
}

.pagewrapper {
  display: flex;
  justify-content: center;
  padding: 40px;
  padding-top: 0px;
}

.logo {
  max-width: 300px;
}

.logo-dark {
  display: none;
}

.header-navigation {
  margin-top: 5px;
  line-height: 1.7;
  height: 40px;
  border-top: solid 2px white;
  border-bottom: solid 2px white;
  display: flex;
  align-items: center;
  flex-wrap:wrap;
}

.header-navigation-link {
  color: white;
  text-decoration: none;
  padding-right: 10px;
  white-space: nowrap;
  transition: all 0.4s;
}

.header-navigation-link:hover {
  color: #999;
  font-size: 18px;
}

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 20px;
}

.email-link {
  color: black;
  font-size: 16px;
  position: absolute;
  bottom: 20px;
}

.email-link:hover {
  color: #999;
}

.dark-background {
  background-color: black;
}

.dark-background .email-link,
.dark-background h1,
.dark-background h2,
.dark-background h3,
.dark-background p,
.dark-background span {
  color: white;
}

.dark-background .logo-dark {
  display: block;
}

.dark-background .logo-light {
  display: none;
}

@media screen and (max-width: 980px) {
  .header-navigation {
    height: auto;
    padding: 5px 0px;
  }
}